@font-face {
    font-family: 'product-sans';
    src: url('lib/fonts/Product\ Sans\ Regular.ttf')  format('truetype')
}


body {
    background-color: cornflowerblue;
    font-family: product-sans;
    text-align: center;
}

#offbutton {
    opacity: 0;
}